<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.vnmaster.bot</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{VNMASTER_BIN}}</string>
    <string>bot</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{LOG_DIR}}/bot.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{LOG_DIR}}/bot.err.log</string>
</dict>
</plist>
